
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Share</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="container">
        <h1>Alex van Winkel: Share code page</h1>
        <!-- Your HTML content here -->
        <form onsubmit="saveText(); return false;">
            <label for="userInput">Paste your code here:</label>
            <br>
            <textarea id="userInput" name="userInput" rows="20" cols="50"></textarea>
            <br>
            <input class="submit-button" id="saveButton" type="submit" value="Submit">
        </form>
    </div>
  

    <script>
       
    </script>
</body>
</html>
